
<div class="modal-header" data-backdrop="static">
  <h3 class="modal-title" id="modal-title">Assignment Title: {{$ctrl.assignment.title}}</h3>
</div>
<div class="modal-body" id="modal-body">
                          
  <div>Question : {{$ctrl.assignment.content}}</div>
  <div>Submission Date : {{$ctrl.assignment.due_date}}</div>
  <div>Status : {{$ctrl.assignment.status}}</div>
  <div>Title : {{$ctrl.assignment.title}}</div>
  <div>Out Of : {{$ctrl.assignment.total_marks}}</div>
  
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
